doctype html
html
	head
		title Zadanie 17.6
		<link rel="stylesheet" type="text/css" href="style.css">
	body
		div.container
			h1 Przykład
				p Testowanie
				a.button(href='/auth/google') Naciśnij