doctype html
html
	head
		title Hello
		<link rel="stylesheet" type="text/css" href="style.css">
	body
		div.container
			h1 A teraz przenieś się w świat mocnego tąpnięcia
			img(src="/dream.jpg")
			a(href="/style.css")